<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<bean id="s" class="com.demo.SetterInjection">
		<property name="name" value="Shital"></property>
		<property name="age" value="28"></property>
		<property name="city" value="Dharmabad"></property>
	</bean>

</beans>
